<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="presupvisual.Properties.Settings.litografiaConnectionString"
            connectionString="Data Source=DESKTOP-8COP5NU\SQLSISTEMAS;Initial Catalog=litografia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>